.menuHover{
  background-color: rgb(120, 120, 120);
  list-style: none;
  padding: 10px;
  color: white;
  transition: 0.25s;

}

.menuHover:hover{
  cursor: pointer;
  color: black;
  background-color: white;
  transition: 0.25s;
}

.linkedin:hover {
  cursor: pointer;
  background-color: white;
  transition: 0.25s;
}

.linkedin{
  background: rgb(226, 226, 226);
  transition: 0.25s;
}

.homeNav {
  height: 100vh;
}

.hamButton{
  display: inline-block;
}

@media screen and (max-width: 1240px) {
  .dis-md-none{
    display: none;
  }
}

@media screen and (min-width: 1240px) {
  .hamButton {
    display: none;
  }
}


